/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #35424a;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 2em;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 158px;
  gap: 20px;
}

.calculator,
.info {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  /* Adjust max-width as needed */
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
}

input[type="number"],
select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #35424a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #1e282c;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
}

.info {
  width: 100%;
  max-width: none;
  /* Reset max-width */
}

.info h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #35424a;
}

.info p {
  font-size: 1em;
  margin-bottom: 15px;
  color: #666;
}

.info ul {
  list-style-type: none;
  padding-left: 20px;
}

.info ul li {
  font-size: 1em;
  margin-bottom: 10px;
  color: #666;
}

footer {
  background-color: #35424a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Responsive adjustments */
@media only screen and (min-width: 768px) {
  main {
    flex-direction: row;
    gap: 40px;
  }

  .calculator,
  .info {
    width: 50%;
  }
}